@import "./cards.css";

.featuredProducts {
  display: flex;
  flex-direction: column;
  /* // border: 1px solid; */
  margin-top: 80px;
  height: 100%;
  width: 100%;
}
.featuredProducts > h1 {
  text-align: center;
  padding: 10px;
  color: themed("darkHeading");
  font-size: 42px;
}

.featured {
  /* // background-color: #6658c7; */
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 1 !important;
  /* // border:1px solid; */
  width: 100%;
  height: 100%;
}
.slick-dots li button {
  background-color: pink !important;
}

.featured-items {
  height: 100%;
  margin: 30px;
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  /* // border: 1px solid; */
  align-items: center;
  gap: 1rem;
}

/*  */
