@import "./cards.css";

 .featuredProducts {
         display: flex;
         flex-direction: column;
         /* // border: 1px solid; */
         margin-top: 80px;
         height: 100%;
         width: 100%;
 }
 .react-multi-carousel-dot--active button {
    background: var(--pinkColor);
}
 .react-multi-carousel-dot button {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    transition: background .5s;
    border-width: 1px;
    border-style: solid;
    border-color:lightcoral;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    outline: 0;
    cursor: pointer;
}
        .featuredProducts > h1 {
        text-align: center;
        padding: 10px;
        color: var(--headingPurpleColor2);
        font-size: 42px;
         }

         .featured {
             z-index: 1 !important;
             /* border:1px solid !important; */
             width: 90%;
             padding-left: 7px;
             margin: auto;
             height: 100%;
             padding-bottom: 40px;
             margin-bottom: 40px;
         }
