.btn {
  background-color: var(--pinkColor) !important;
  color: white;
  border-radius: 6px !important;
  font-weight: 600;
}

.btn:focus,
.btn:hover {
  border-color: transparent !important;
  color: white !important;
}
