.ant-layout {
  /* background-color: var(--bgSoft); */
  background-color: white !important;
}

:where(.css-dev-only-do-not-override-diro6f).ant-layout .ant-layout-header,
:where(.css-diro6f).ant-layout .ant-layout-header {
  height: unset !important;
  padding: 0px !important;
  line-height: unset !important;
}

:where(.css-dev-only-do-not-override-diro6f).ant-layout .ant-layout-footer,
:where(.css-diro6f).ant-layout .ant-layout-footer {
  background-color: unset;
  padding: unset;
}

.ant-row {
  max-width: 100%;
}

@media screen and (max-width: 400px) {
  .ant-col:not(.footerUpper, .footerLower, .ant-drawer-title .ant-col) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ant-row {
    margin: unset !important;
  }
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}
