.ant-layout {
  background-color: white !important;
}

.ant-layout-header,
.ant-layout .ant-layout-header {
  height: unset !important;
  padding: 0px !important;
  line-height: unset !important;
}

.ant-layout-footer,
.ant-layout .ant-layout-footer {
  background-color: unset;
  padding: unset;
}

.ant-row {
  max-width: 100%;
}

.ant-col:not(
    .footerUpper,
    .footerLower,
    .ant-drawer-title .ant-col,
    .breadcrumbParent
  ) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media screen and (max-width: 400px) {
  .ant-row {
    margin-inline: unset !important;
  }
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}
