.about-slider {
  padding-block: calc(var(--py) * 6);
  padding-inline: var(--px);
  max-width: 100%;
  margin-block: 120px;
  background-color: var(--lightblueBg);
}

.about-sslider {
  margin-top: 40px;
}
.about-slider-container {
  display: block !important;
  min-height: 250px;
}

.about-slider-up > img {
  width: 200px;
  margin: auto;
  height: 64px;
  object-fit: contain;
}
.about-slider-down {
  text-align: center;
}
.about-slider-down > p {
  max-width: 500px;
  margin: auto;
  margin-top: 1rem;
  font-size: 16px;
  text-align: center;
  color: var(--textColorLigher);
}
.about-slider-down > h2 {
  margin-bottom: 0rem !important;
}
.about-slider-down > span {
  font-size: 16px;
  text-align: center;
  color: var(--textColorLigher);
}
