.profileSub {
  padding: 10px;
}
.profileSub .profile,
.profileSub .ant-image-mask {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.ant-image-mask {
  display: grid;
  place-content: center;
}
.ant-image-mask-info {
  display: none;
}
.nameimage {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.address {
  margin-top: 30px;
}
