.mobilenav {
  padding-block: var(--py);
  padding-inline: var(--px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purpleColor);
  color: white;
  padding-block: 15px;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  box-shadow: var(--shadow1);
}

.hamburger svg {
  font-size: 25px !important;
}

.drawerNav {
  gap: 1.6rem;
}
.userDrawer .ant-drawer-header-title > button {
  display: none;
}
