@import "./antd/index.css";
@import "./buttons/buttons.css";
@import "./DiscoutIcons/icons.css";
@import "./utility/utlity.css";
@import "./Logo/logo.css";
@import "./Text/index.css";
@import "./Breadcrumbs/index.css";
@import "./Loader/index.css";
@import "./ProductGallery/index.css";
@import "./Errors/index.css";
@import "./FilterBar/index.css";
@import "./banner/index.css";
@import "./product/index.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--Josefin);
}
body,
.navbar {
  max-width: 1700px;
  margin: auto;
}

img,
a {
  user-select: none;
}
