.Banner {
  background-color: var(--grayBlueBg);
  position: relative;
  z-index: 1 !important;
  width: 100%;
  height: 550px;
  padding-inline: var(--px);
}
.slick-dots li button {
  background-color: var(--pinkColor) !important;
}

.Banner-slider {
  display: flex !important;
  flex-direction: row;
  height: 550px;
}
.Banner-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Banner-items > h1 {
  font-size: 2rem;
  padding-bottom: 20px;
  min-width: 100%;
  font-weight: 600;
  font-size: 2.5rem;
  font-family: var(--Josefin);
}
.Banner-items > p {
  color: var(--pinkColor);
}
.Banner-right {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
}
.banner-gradient-one {
  width: 320px;
  position: relative;
  background-image: radial-gradient(#ecd2fa, #ecd2fa);
  opacity: 0.7;
  border-radius: 50% !important;
  height: 320px;
  z-index: 2;
  margin-right: 20px;
}
.banner-gradient-two {
  position: absolute;
  top: -25px;
  right: 10px;
  z-index: -1;
  opacity: 0.5;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 89px;

  background-image: radial-gradient(#ecd2fa, #ecd2fa);
  border-radius: 50% !important;
}
.banner-gradient-three {
  position: absolute;
  bottom: -25px;
  right: -20px;
  z-index: -1;
  opacity: 0.5;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  background-image: radial-gradient(#ecd2fa, #ecd2fa);
  border-radius: 50% !important;
}
.Banner-right > img {
  height: 350px;
  width: 350px;
  max-width: 100%;
  object-fit: cover;
  z-index: 22;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
  .Banner {
    height: unset;
    min-height: 650px;
  }
  .Banner-slider {
    display: flex !important;
    flex-direction: column;
    margin-top: 60px;
  }
  .Banner-right {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-bottom: 30px;
  }
  .Banner-items > h1 {
    font-size: 1.7rem;
    padding-bottom: 0;
  }
  .Banner-right img {
    object-fit: contain;
    max-width: 65%;
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
  }
  .banner-gradient-one {
    position: absolute;
  }
}
@media screen and (max-width: 400px) {
  .banner-gradient-one {
    max-width: 250px;
    max-height: 250px;
  }
  .Banner-right img {
    max-width: 80%;
  }
  .banner-gradient-three {
    right: 0;
  }
  .banner-gradient-two {
    right: 0;
  }
}
