.serachpageProductCard {
  display: flex;
  padding: calc(var(--py) * 3);
  box-shadow: var(--shadow2);
  border: unset;
  height: 230px;
  user-select: none;
}
.serachpageProductCard .ant-card-cover {
  min-width: 27%;
  height: 100%;
}

.productcardimg {
  border-radius: 4px !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.serachpageProductCard .ant-card-body {
  border-radius: unset;
  max-width: 70%;
}

.ant-card-body .SearchProductTitle {
  font-size: 21.5px;
  color: var(--headingColor);
  font-family: var(--Josefin);
  margin-bottom: 4px;
  font-weight: 600;
}
.SearchProductDesc {
  font-size: 400;
}
.SearchProductPrice {
  color: var(--headingColor);
  font-family: var(--Josefin);
  font-size: 13.5px;
}

@media screen and (max-width: 767px) {
  .serachpageProductCard {
    flex-direction: column;
    height: 300px;
  }
  .serachpageProductCard .ant-card-cover {
    height: 48%;
  }
  .serachpageProductCard .ant-card-body {
    max-width: 100%;
  }
}
