.payment-product-card{
    width: 90%;
    margin: auto;
}
.payment-card-images{
    width: 100%;
    height: 87px;
    object-fit: contain;
}
.PaymentSpace{
    margin: 20px;
}
.payment-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 10px;
}
.payment-card-imageDiv{
    display: flex;
    border-radius: 5px;
    background-color: var(--grayBg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}