.LandingOffers {
  padding-inline: var(--px);
  user-select: none;
}
.offerCard {
  box-shadow: var(--shadow1);
  padding: calc(var(--py) * 15) calc(var(--py) * 3);
  border: unset;
  border-bottom: 3px solid transparent;
}
.offerCard:hover {
  border-bottom: 3px solid var(--pinkColor);
}
.offerCard .ant-card-cover {
  padding-block: calc(var(--py) * 20) calc(var(--py) * 8);
}
.offerCard img {
  height: 45px;
  width: 45px;
  object-fit: contain;
  /* background-color: white; */
}

.offerCard .ant-card-body {
  text-align: center;
}
.offerCard .ant-card-meta-title {
  font-weight: bold;
  font-family: var(--Josefin);
  color: var(--headingColor);
  font-size: 22px;
}
.offerCard .ant-card-meta-description {
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--Lato);
  color: var(--textColorLigher);
  opacity: 0.7;

  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* for webkit */
  -moz-box-lines: 2; /* for firefox */
}
