.Logo {
  font-weight: 700;
  font-size: 30px;
  margin-top: -8px;
  cursor: pointer;
  user-select: none;
}
@media screen and (max-width: 992px) {
  .Logo {
    font-size: 25px;
    margin-top: -5px;
  }
}
