.DiscountItem {
  padding-inline: var(--px);
}
.DiscountItem .BannerProduct {
  padding-inline: unset;
}
.DiscountItem .Banner {
  background-color: unset;
}

.DiscountItem .Banner-right {
  order: unset;
}
.DiscountItem img {
  left: 65%;
}
@media screen and (max-width: 992px) {
  .DiscountItem img {
    max-width: 100%;
    left: unset;
    top: unset;
    transform: unset;
    object-fit: contain;
    position: relative;
  }
}
