@import "./uppernav/upper.css";
@import "./lowernav/lower.css";
@import "./mobilenav/index.css";

:where(.css-dev-only-do-not-override-diro6f).ant-layout .ant-layout-header {
  height: unset;
  padding: 0px;
  line-height: unset;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}
