@import "./truncate/index.css";
.ant-typography.HeadingDark {
  color: var(--headingColor);
  font-size: 32px;
  font-weight: 600;
  font-family: var(--Josefin);
  user-select: none;
  margin-bottom: 12px;
}

.ant-typography.HeadingCustom {
  font-size: 25px;
  text-align: left !important;
  font-family: var(--Josefin);
}
.ant-typography.HeadingCustom.small {
  font-size: 1rem;
}
.ant-typography.small {
  margin-bottom: 0px;
}
.ant-typography.banner {
  font-size: 32px;
}

@media screen and (max-width: 992px) {
  .ant-typography.HeadingDark {
    font-size: 1.6rem;
    /* background-color: red; */
    /* text-align: center; */
  }
  .ant-typography.HeadingCustom {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 400px) {
  .ant-typography.HeadingDark {
    font-size: 1.5rem;
  }
  .ant-typography.HeadingCustom {
    font-size: 17px !important;
  }
}
