.ant-typography.HeadingDark {
  color: var(--headingColor);
  font-size: 42px;
  font-weight: 600;
  font-family: var(--Josefin);
  user-select: none;
  margin-bottom: 12px;
}

.ant-typography.HeadingCustom {
  font-size: 25px;
  font-style: italic;
  text-align: left !important;
}
.ant-typography.small {
  margin-bottom: 0px;
}

@media screen and (max-width: 992px) {
  .ant-typography.HeadingDark {
    font-size: 1.6rem;
    text-align: center;
  }
  .ant-typography.HeadingCustom {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 400px) {
  .ant-typography.HeadingDark {
    font-size: 1.4rem;
  }
  .ant-typography.HeadingCustom {
    font-size: 17px !important;
  }
}
