.filterBar {
  margin-top: 80px;
}
.filterBar .textLighter {
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.12px;
}
.filterBar .HeadingDark {
  font-size: 22px;
  font-weight: 600;
}

.filterSelectCol label.colorHeading {
  font-weight: 400;
  font-size: 1rem !important;
}
.filterSelectCol {
  display: flex;
  align-items: center;
}
.filterBarSelect {
  margin-left: 0.7rem;
  /* min-width: 50%; */
}
.filterSelectCol .filterBarSelect {
  flex: 1;
}
