.contact-sectionTwo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-sectionTwo-left{
flex: 1;
/* border: 1px solid; */
}
.contact-sectionTwo-Right{
flex: 1.3;
/* border: 1px solid; */
/* height: 100%; */
display: flex;
justify-content: center;
align-items: center;
}
.contact-sectionTwo-Right > img{
    max-width:500px;
    min-width:200px;
    height: 480px;
    height:100%;
    object-fit: contain;
    /* border: 1px solid; */
}
@media screen and (max-width:1200px) {
.contact-sectionTwo-Right>img {
        max-width: 450px;
        min-width: 200px;
        height: 480px;
    }
}
@media screen and (max-width:1024px) {
.contact-sectionTwo-container {
flex-direction: column;
padding: 0%;
}
}
