.cart-card{
    /* border: 1px solid; */
}
.border{
    border: 1px solid;
}
.cart-card-image{
    position: relative;
    width: 83px;
    height: 87px;
    object-fit: contain;
}
.cart-cards-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.cart-card-iconClose{
    position: absolute;
    top: 0%;
    right: 30%;
}
.cart-card-textOne{
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}
.cart-card-textTwo{
font-size: 12px;
color: var(--grayText);
} 