@import "./menu/menu.css";
@import "./User/user.css";

.profileRow > .ant-col {
  border-radius: 6px;
  padding: 0.6rem;
  background-color: var(--lightblueBg);
  box-shadow: var(--shadow1);
  user-select: none;
}

@media screen and (min-width: 0) and (max-width: 768px) {
  .profileRow {
    gap: 1rem;
  }
}
