@import "./tabOne.css";
@import "./tabThree.css";
@import "./comment.css";
.tabs-product {
  padding-inline: var(--px);
  user-select: none;
  width: 100%;
  margin: auto;
  padding: 30px;
  background-color: var(--lightblueBg);
}
.ant-tabs .ant-tabs-tab {
  font-size: 22px !important;
  color: var(--headingColor);
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .ant-tabs .ant-tabs-tab {
    font-size: 18px !important;
  }
}
