@import "./tabOne.css";
@import "./tabThree.css";
.tabs-product{
    width: 86%;
    margin: auto;
    padding: 30px;
    background-color: var(--lightblueBg);
}
:where(.css-dev-only-do-not-override-diro6f).ant-tabs .ant-tabs-tab {
font-size: 22px !important;
color: var(--headingColor);
font-weight: 600;
font-style: italic;
}