@import "./tabOne.css";
@import "./tabThree.css";
@import "./map.css";
.tabs-product {
  padding-inline: var(--px);
  width: 100%;
  margin: auto;
  /* border: 1px solid; */
  padding: 30px;
  background-color: var(--lightblueBg);
}
.ant-tabs .ant-tabs-tab {
  font-size: 22px !important;
  color: var(--headingColor);
  font-weight: 600;
}
